process {
  cpus   = { params.threads }
  memory = '16 GB'
}

profiles {

  docker {
    docker.enabled = true
    docker.runOptions = "--platform linux/amd64"

    process {
      withName: NANOFILT { container = "quay.io/biocontainers/nanofilt:2.8.0--pyhdfd78af_0" }
      withName: FLYE     { container = "quay.io/biocontainers/flye:2.9--py39hdfd78af_0" }
      withName: MEDAKA   { container = "nanoporetech/medaka:latest" }
      withName: QUAST    { container = "quay.io/biocontainers/quast:5.2.0--py39pl5321hdfd78af_0" }
      withName: PROKKA   { container = "quay.io/biocontainers/prokka:1.14.6--pl5321hdfd78af_2" }
      withName: GTDBTK   { container = "quay.io/biocontainers/gtdbtk:2.3.2--pyhdfd78af_0" }
      withName: ABRICATE { container = "quay.io/biocontainers/abricate:1.0.1--pl5321hdfd78af_0" }
      withName: BAKTA    { container = "quay.io/biocontainers/bakta:1.9.3--py310hdfd78af_0" }
    }
  }
}
